
<% product = Product.find_by(id: product_id)%>

<tr>
  <td> 

 
    <img src="<%= product.image %>" class='order-image'>

  </td>
  
  <td> 
  <%= product.name %> 
  </td>
  
  <td> 
  <%= product.description %> 
  </td>
  
  <td>
  <%= quantity %>
  </td>
  
  <td>
  <%= total %>
  </td>
  </tr>
  
  
